# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# CodeCarbon
emissions.csv

# Distribution
*.egg-info/
dist/
build/
